.ShopCart {
  margin-left: 50px;
  margin-top: 10px;
}
.MuiPaper-root.MuiCard-root.makeStyles-root-5.MuiPaper-elevation1.MuiPaper-rounded {
  width: 500px;
}
.ShopCart h2 {
  text-align: center;
  margin-top: 0;
}
.cards:last-child {
  border-top: 1px solid #000;
}
.cards:last-child h4{
  margin: 10px 0;
}
.MuiCardActions-root.MuiCardActions-spacing {
  justify-content: center;
}
